*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#F6F8F9;
    font-family: 'Roboto', sans-serif;
}

header div{/* test */
    background-color: blueviolet;
    display: inline-block;
}

.container{
    padding-left: 200px;
}

.square{/* style of blue square */
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #47ADF1;
    color: white;
}
.nav{
    background-color: white;
    padding-top: 10px;
    padding-left: 50px;
    margin-top: 50px;
    
}
article{
    background-color: white;
    margin-top: 5px;
    padding-top: 30px;
    padding-left: 50px;
}