*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color:#F6F8F9;
    font-family: 'Roboto', sans-serif;    
}

header div{/* test */
    background-color: blueviolet;
    display: inline-block;
}

.container{
    padding-left: 200px;
}

/* buttons collection */
.bluesquare-type1{/* style of blue square */
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: #47ADF1;
    color: white;
}
.whitesquare{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: white;
    color: lightgray;
}
.bluesquare-type2{/* style of more rounded blue square */
    display: inline-block;
    border-radius: 30px;
    padding: 5px;
    background-color: #47ADF1;
    color: white;
    font-size: 0.87em;
}
.square{/* style of more rounded blue square */
        display: inline-block;
        border-radius: 30px;
        padding: 5px;
        color: white;
        font-size: 0.87em;
}
.green{
    background-color: #64C0A8;
}
.purple{
    background-color: #9C72E4;
}
.orange{
    background-color: #F29E33;
}
.fuchsia{
    background-color: #D863A0;
}
.lightgreen{
    background-color: #B0C926s;
}

.nav{
    background-color: white;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    margin-top: 50px;    
}
article{
    background-color: white;
    margin-top: 5px;
    padding-top: 30px;
    padding-left: 50px;
}

.inline{
    display: inline-block;
}
.checkbox{
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
    color: green;
    font-size: 0.85em;
}
.uncheckbox{
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
    color: red;
    font-size: 0.85em;
}
.menu{
    line-height: 40px;
    list-style: none;
    margin-bottom: 20px;
}